.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem $color-grey-2;
    border-radius: 4px;
    position: absolute;
    transition: all 0.2s;
    @include respond(tab-port) {
      z-index: 1000;
      width: 39%;
    }
    &--p1 {
      top: 1rem;
      left: 0;
    }
    &--p2 {
      top: 6rem;
      left: 15rem;
    }
    &--p3 {
      top: 10rem;
      right: 0%;
    }
    &:hover {
      border: 1rem solid $color-primary-dark;
      padding: 0.5rem;
      z-index: 1000;
      transform: scale(1.25);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
